@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900 font-sans antialiased;
}

/* Custom Scrollbar matching image.png */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full border-4 border-transparent bg-clip-padding;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}
